%header.navbar.navbar-inverse
  .container
    = link_to "GGL 我们的赛事", '/', {id: "logo"}
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to t("common.forum"), 'http://forum.dzjjzb.com'
